.container {
  margin: 1rem;
  min-width: 375px;
  max-width: 1500px;
}

@media only screen and (max-width: 733px) {
  .container {
    width: 330px;
  }

  header > div.container > div.row > div.column-third {
    padding: 0;
  }

  .selection-container {
    display: flex;
    width: 100%;
    height: 575px;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
  }

  .workout-mode {
    align-items: center;
    height: 290px;
    margin-bottom: 245px;
    margin-top: 3.125rem;
  }

  .duration {
    align-items: center;
    justify-content: center;
    height: 600px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 0.2rem;
  }

  .mixit {
    justify-content: flex-start;
    height: 480px;
    width: 335px;
  }

  .mixit-content {
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
  }

  .modal {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    z-index: 2;
  }

  .button-white {
    height: 4rem;
  }

  .select-button-div {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 734px) {
  .selection-container {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .workout-mode,
  .duration {
    height: 500px;
    padding: 3rem 0 15rem;
  }

  .genre {
    height: 500px;
    padding: 3rem;
  }

  .mixit {
    align-items: flex-start;
    justify-content: flex-start;
    width: 730px;
    overflow-y: scroll;
  }

  .mixit-content {
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    margin: 0 7rem;
  }

  .modal {
    width: 600px;
    height: 375px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    z-index: 2;
  }

  .select-button-div {
    flex-basis: 50%;
  }
}

.row {
  display: flex;
  margin: 0.75rem 0;
}

.column-full {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.column-third {
  width: calc(100% / 3);
  text-align: center;
}

.start-over-div {
  text-align: start;
}

header > div.container > div.row > div.column-third {
  align-self: center;
}

.checkmark-div {
  text-align: right;
}

.arrow {
  text-align: left;
}
