.black-ground {
  background-color: black;
}

* {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.pink-text {
  color: rgb(248 84 231 / 70%);
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

h1 {
  font-family: "Saira Condensed", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0.25rem;
}

.button-white {
  background-color: #rgb(255 255 255 / 40%);
  opacity: 0.9;
  color: black;
  font-size: 1.18rem;
  line-height: 1.4rem;
  padding: 1rem 1.87rem;
  border-radius: 0.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.select-button {
  color: white;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  background-color: rgb(255 255 255 / 40%);
  height: 5.5rem;
  width: 5.75rem;
}

.button-white:hover,
.select-button:hover {
  color: white;
  background-color: rgb(248 84 231 / 47%);
  cursor: pointer;
}

.start-over {
  background-color: rgb(248 84 231 / 47%);
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.44rem;
  width: 8.44rem;
  height: 2.25rem;
  font-size: 0.94rem;
  line-height: 1.13rem;
}

.start-over:hover {
  cursor: pointer;
  background-color: rgb(255 255 255 / 40%);
}

.light-grey {
  background-color: rgb(255 255 255 / 40%);
  border-radius: 4px;
}

.top-margin-100 {
  margin-top: 6.25rem;
}

.top-margin-10 {
  margin-top: 0.625rem;
}

.bottom-margin-20 {
  margin-bottom: 1.25rem;
}

.padding-5 {
  padding: 0 0.625rem;
}

.padding-10 {
  padding: 0 0.625rem;
}

.small-text,
p.small-text > span,
p.small-text > a {
  font-size: 1rem;
}

p.small-text > img {
  vertical-align: bottom;
  padding: 0 0.5rem;
}

.heartbeats-logo-small {
  height: 4.38rem;
}

a > img:hover {
  width: 2.8rem;
  height: auto;
  cursor: pointer;
}

li {
  text-align: start;
  padding: 0.2rem;
}

.hidden {
  display: none;
}

.selected {
  background-color: rgba(248, 84, 231, 0.47);
}
